src/main/resources/schemas/GetListingInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<wsdl:definitions name="GetListingInteraction"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tjs="urn:riv:crm:carelisting:GetListingResponder:1"
	targetNamespace="urn:riv:crm:carelisting:GetListing:1:rivtabp20" xmlns="urn:riv:crm:carelisting:GetListing:1:rivtabp20">

	<xsd:annotation>
		<xsd:documentation>
			Beskrivning: Tjänstekontraktet som ingår i Nationella Listingsstjänsten. 
							 Hämtar listningsinformation för en person. 
			Revisioner: 2009-06-10 Version 1.0: Uppdelat i flera meddelanden (en per operation) efter 
							kommentarer ifrån Arkitekturledningen. 
							2009-12-21 version 1.0.2: Re-design i sammarbete med Modul1, Arkitekturledningen och Mawell.
			Tjänstedomän: crm:carelisting. crm=Customer Relationship Management.
			Tjänsteinteraktionens namn: GetListing.
			Tjänsteinteraktionstyp: Fråga-Svar.	
			RIV Tekniska Anvisning: Basic Profile 2.0
		</xsd:documentation>
	</xsd:annotation>

	<!-- Egendefinierade typer -->
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import schemaLocation="GetListing_1_0.xsd"
				namespace="urn:riv:crm:carelisting:GetListingResponder:1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import schemaLocation="ws-addressing-1.0.xsd"
				namespace="http://www.w3.org/2005/08/addressing" />
		</xsd:schema>
	</wsdl:types>

	<!-- Meddelanden -->
	<!-- Hämta en listning för en person.  -->
	<wsdl:message name="getListingRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:getListing" />
	</wsdl:message>
	<wsdl:message name="getListingResponse">
		<wsdl:part name="parameters" element="tjs:getListingResponse" />
	</wsdl:message>
	<wsdl:message name="PersonNotFound">
		<wsdl:part name="parameters" element="tjs:PersonNotFound" />
	</wsdl:message>
	<wsdl:message name="TechnicalException">
		<wsdl:part name="parameters" element="tjs:TechnicalException" />
	</wsdl:message>
	
	<!-- Port typer -->
	<wsdl:portType name="GetListingResponderInterface">
		<wsdl:operation name="getListing">
			<wsdl:documentation>
			Hämtar en listning för angivet personnummer. Hämtar endast personens registrerade listningar.
			En listning kan vara aktiv, registrerad med framtida aktiveringsdatum, eller info om att 
			personen står i kö för begärt val.  Returnerade val kan gälla såväl aktiva val som framtida val. 
			Returnerade val kan också vara vara plats i kö, dvs ej aktivt val. 
			LogicalAdress ska vara Länskod (enligt Skatteverket) för det län där personen är mantalsskriven.
			</wsdl:documentation>
			<wsdl:input message="getListingRequest" />
			<wsdl:output message="getListingResponse" />
			<wsdl:fault name="PersonNotFound" message="PersonNotFound"></wsdl:fault>
			<wsdl:fault name="TechnicalException" message="TechnicalException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- Bindningar -->
	<wsdl:binding name="GetListingResponderBinding" type="GetListingResponderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getListing">
			<soap:operation soapAction="urn:riv:crm:carelisting:GetListingResponder:1:getListing" />
			<wsdl:input>
				<soap:header use="literal" message="getListingRequest"
					part="LogicalAddress" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="PersonNotFound">
				<soap:fault use="literal" name="PersonNotFound" />
			</wsdl:fault>
			<wsdl:fault name="TechnicalException">
				<soap:fault use="literal" name="TechnicalException" />
			</wsdl:fault>	
		</wsdl:operation>
	</wsdl:binding>

	<!-- Servicar -->
	<wsdl:service name="GetListingResponderService">
		<wsdl:port name="GetListingResponderPort" binding="GetListingResponderBinding">
			<soap:address location="http://temp.uri/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
