Hval24AdapterIC/src/main/resources/schemas/CreateListingInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<wsdl:definitions name="CreateListingInteraction"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tjs="urn:riv:crm:carelisting:CreateListingResponder:1"
	targetNamespace="urn:riv:crm:carelisting:CreateListing:1:rivtabp20" xmlns="urn:riv:crm:carelisting:CreateListing:1:rivtabp20">

	<xsd:annotation>
		<xsd:documentation>
			Beskrivning: Tjänstekontraktet som ingår NationellaListingsstjänten.
			Revisioner: 2009-06-15 Version 1.0: Uppdelat i flera meddelanden (en per operation) efter 
							kommentarer ifrån Arkitekturledningen. 
							2009-06-22 version 1.0.1: Plockade bort wsa:Action ifrån wsdl:portType.
							2009-11-25 version 1.0.2: Byte namn på wsdl:fault till InvalidServiceProvider.
							2009-12-21 version 1.0.3: Re-design i sammarbete med Modul1, Arkitekturledningen och Mawell.
							2010-12-26 version 1.0.4: Ändrat i Documentation för createListing.
			Tjänstedomän: crm:carelisting. crm=Customer Relationship Management.
			Tjänsteinteraktionens namn: CreateListing.
			Tjänsteinteraktionstyp: Fråga-Svar.	
			RIV Tekniska Anvisning: Basic Profile 2.0
		</xsd:documentation>
	</xsd:annotation>

	<!-- Egendefinierade typer -->
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import schemaLocation="CreateListing_1_0.xsd"
				namespace="urn:riv:crm:carelisting:CreateListingResponder:1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import schemaLocation="ws-addressing-1.0.xsd"
				namespace="http://www.w3.org/2005/08/addressing" />
		</xsd:schema>
	</wsdl:types>

	<!-- Meddelanden -->
	<!-- Skapar en Listing för en person. -->
	<wsdl:message name="createListingRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:createListing" />
	</wsdl:message>
	<wsdl:message name="createListingResponse">
		<wsdl:part name="parameters" element="tjs:createListingResponse" />
	</wsdl:message>
	<wsdl:message name="PersonNotFoundException">
		<wsdl:part name="parameters" element="tjs:PersonNotFoundException" />
	</wsdl:message>	
	<wsdl:message name="InvalidFacilityException">
		<wsdl:part name="parameters" element="tjs:InvalidFacilityException" />
	</wsdl:message>
	<wsdl:message name="TechnicalException">
		<wsdl:part name="parameters" element="tjs:TechnicalException" />
	</wsdl:message>


	<!-- Port typer -->
	<wsdl:portType name="CreateListingResponderInterface">
		<wsdl:operation name="createListing">
			<wsdl:documentation>Ändrar en medborgares vårdval.
									  LogicalAddress ska ange länskod enligt skatteverket, för det län mot vilken operationen är riktad.
			</wsdl:documentation>
			<wsdl:input message="createListingRequest" />
			<wsdl:output message="createListingResponse" />
			<wsdl:fault name="PersonNotFound" message="PersonNotFoundException"></wsdl:fault>
			<wsdl:fault name="InvalidServiceProvider" message="InvalidFacilityException"></wsdl:fault>
			<wsdl:fault name="TechnicalException" message="TechnicalException"></wsdl:fault>			
		</wsdl:operation>
	</wsdl:portType>

	<!-- Bindningar -->
	<wsdl:binding name="CreateListingResponderBinding" type="CreateListingResponderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="createListing">
			<soap:operation soapAction="urn:riv:crm:carelisting:CreateListingResponder:1:createListing" />
			<wsdl:input>
				<soap:header use="literal" message="createListingRequest"
					part="LogicalAddress" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="PersonNotFound">
				<soap:fault use="literal" name="PersonNotFound" />
			</wsdl:fault>
			<wsdl:fault name="InvalidServiceProvider">
				<soap:fault use="literal" name="InvalidServiceProvider" />
			</wsdl:fault>
			<wsdl:fault name="TechnicalException">
				<soap:fault use="literal" name="TechnicalException" />
			</wsdl:fault>			
		</wsdl:operation>
	</wsdl:binding>

	<!-- Servicar -->
	<wsdl:service name="CreateListingResponderService">
		<wsdl:port name="CreateListingResponderPort" binding="CreateListingResponderBinding">
			<soap:address location="http://temp.uri/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
