Hval24AdapterIC/src/main/resources/schemas/GetPersonQueueStatusInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<wsdl:definitions name="GetPersonQueueStatusInteraction"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tjs="urn:riv:crm:carelisting:GetPersonQueueStatusResponder:1"
	targetNamespace="urn:riv:crm:carelisting:GetPersonQueueStatus:1:rivtabp20" xmlns="urn:riv:crm:carelisting:GetPersonQueueStatus:1:rivtabp20">

	<xsd:annotation>
		<xsd:documentation>
			Beskrivning: Tjänstekontraktet som ingår i Nationella Listingsstjänsten. 
							 Hämtar köinformation för en person. 
			Revisioner: 2010-01-26 Version 1.0: Skapade tjänstekontraktet. 
			Tjänstedomän: crm:carelisting. crm=Customer Relationship Management.
			Tjänsteinteraktionens namn: GetPersonQueueStatus.
			Tjänsteinteraktionstyp: Fråga-Svar.	
			RIV Tekniska Anvisning: Basic Profile 2.0
		</xsd:documentation>
	</xsd:annotation>

	<!-- Egendefinierade typer -->
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import schemaLocation="GetPersonQueueStatus_1_0.xsd"
				namespace="urn:riv:crm:carelisting:GetPersonQueueStatusResponder:1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import schemaLocation="ws-addressing-1.0.xsd"
				namespace="http://www.w3.org/2005/08/addressing" />
		</xsd:schema>
	</wsdl:types>

	<!-- Meddelanden -->
	<!-- Hämta en listning för en person.  -->
	<wsdl:message name="getPersonQueueStatusRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:getPersonQueueStatus" />
	</wsdl:message>
	<wsdl:message name="getPersonQueueStatusResponse">
		<wsdl:part name="parameters" element="tjs:getPersonQueueStatusResponse" />
	</wsdl:message>
	<wsdl:message name="TechnicalException">
		<wsdl:part name="parameters" element="tjs:TechnicalException" />
	</wsdl:message>
	<wsdl:message name="PersonNotFoundException">
		<wsdl:part name="parameters" element="tjs:PersonNotFoundException" />
	</wsdl:message>
		
	<!-- Port typer -->
	<wsdl:portType name="GetPersonQueueStatusResponderInterface">
		<wsdl:operation name="getPersonQueueStatus">
			<wsdl:documentation>Hämtar köinformation för en person. Logisk adress är till vårdgivaren som ska kunna svara på frågan.</wsdl:documentation>
			<wsdl:input message="getPersonQueueStatusRequest" />
			<wsdl:output message="getPersonQueueStatusResponse" />
			<wsdl:fault name="PersonNotFoundException" message="PersonNotFoundException"></wsdl:fault>
			<wsdl:fault name="TechnicalException" message="TechnicalException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- Bindningar -->
	<wsdl:binding name="GetPersonQueueStatusResponderBinding" type="GetPersonQueueStatusResponderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="getPersonQueueStatus">
			<soap:operation soapAction="urn:riv:crm:carelisting:GetPersonQueueStatusResponder:1:getPersonQueueStatus" />
			<wsdl:input>
				<soap:header use="literal" message="getPersonQueueStatusRequest"
					part="LogicalAddress" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="PersonNotFoundException">
				<soap:fault use="literal" name="PersonNotFoundException" />
			</wsdl:fault>	
			<wsdl:fault name="TechnicalException">
				<soap:fault use="literal" name="TechnicalException" />
			</wsdl:fault>	
		</wsdl:operation>
	</wsdl:binding>

	<!-- Servicar -->
	<wsdl:service name="GetPersonQueueStatusResponderService">
		<wsdl:port name="GetPersonQueueStatusResponderPort" binding="GetPersonQueueStatusResponderBinding">
			<soap:address location="http://temp.uri/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
